#
# Please read http://wiki.openwrt.org/doc/uci/ddns
#
config ddns "global"
	option ddns_dateformat "%F %R"
#	option ddns_rundir "/var/run/ddns"
#	option ddns_logdir "/var/log/ddns"
	option ddns_loglines "250"
	option upd_privateip "0"

config service 'IPv4'
	option service_name 'dnspod.cn'
	option enabled '1'
	option lookup_host 'op.lxg2001.top'
	option domain 'op.lxg2001.top'
	option username '389599'
	option password '5a0209a11e3279126474abdc8d07debf'

config service 'IPv6'
	option service_name 'dnspod.cn'
	option enabled '1'
	option lookup_host 'op.lxg2001.top'
	option use_ipv6 '1'
	option domain 'op.lxg2001.top'
	option username '389599'
	option password '5a0209a11e3279126474abdc8d07debf'
