# forward port 8000 on IPv6 to IPv4 host port 80
# change enable to '1' to use this example
config socat 'http'
	option enable '0'
	option SocatOptions '-d -d TCP6-LISTEN:8000,fork TCP4:192.168.1.20:80'
	option user 'nobody'

config config '9f71ff4a98764184957025ec72deb174'
	option firewall_accept '1'
	option enable '1'
	option remarks 'router'
	option protocol 'port_forwards'
	option family '6'
	option proto 'tcp'
	option listen_port '8000'
	option reuseaddr '1'
	option dest_proto 'tcp4'
	option dest_ip '192.168.2.1'
	option dest_port '80'

config config 'efd9cd1300c04cf9a84fcecf1de54591'
	option firewall_accept '1'
	option enable '1'
	option remarks 'ssh'
	option protocol 'port_forwards'
	option family '6'
	option proto 'tcp'
	option listen_port '22'
	option reuseaddr '1'
	option dest_proto 'tcp4'
	option dest_ip '192.168.2.1'
	option dest_port '22'

config config 'b5826f8111ef419ba36f0d6e0d73c5e6'
	option firewall_accept '1'
	option enable '1'
	option remarks 'ttyd'
	option protocol 'port_forwards'
	option family '6'
	option proto 'tcp'
	option listen_port '7681'
	option reuseaddr '1'
	option dest_proto 'tcp4'
	option dest_ip '192.168.2.1'
	option dest_port '7681'
