config config 'http'
	option firewall_accept '1'
	option enable '1'
	option remarks 'http'
	option protocol 'port_forwards'
	option family '6'
	option proto 'tcp'
	option listen_port '8000'
	option reuseaddr '1'
	option dest_proto 'tcp4'
	option dest_ip '192.168.2.1'
	option dest_port '80'

config config 'https'
	option firewall_accept '1'
	option enable '1'
	option remarks 'https'
	option protocol 'port_forwards'
	option family '6'
	option proto 'tcp'
	option listen_port '4430'
	option reuseaddr '1'
	option dest_proto 'tcp4'
	option dest_ip '192.168.2.1'
	option dest_port '443'

config config 'ssh'
	option firewall_accept '1'
	option enable '1'
	option remarks 'ssh'
	option protocol 'port_forwards'
	option family '6'
	option proto 'tcp'
	option listen_port '22'
	option reuseaddr '1'
	option dest_proto 'tcp4'
	option dest_ip '192.168.2.1'
	option dest_port '22'

config config 'ttyd'
	option firewall_accept '1'
	option enable '1'
	option remarks 'ttyd'
	option protocol 'port_forwards'
	option family '6'
	option proto 'tcp'
	option listen_port '7681'
	option reuseaddr '1'
	option dest_proto 'tcp4'
	option dest_ip '192.168.2.1'
	option dest_port '7681'